/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2016, 12:54:28 PM
    Author     : swebber2
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2016, 10:13:57 AM
    Author     : swebber2
*/


html {
  font-family: Arial, sans-serif;
  background-image: url(../images/bats.gif);
  
}


body {
  background-color: white;
  margin: 0 auto;
  max-width: 960px;
  width: 95%;
  border: 0.2em solid black; 
}

header {
  padding-top: 1em;
  padding-bottom: 1em;
  background: linear-gradient(45deg,white,orange 75%, black);
  border-bottom-style: solid; 
}

header img {
  float: left; 
  min-width: 20px;
  max-width: 100%;
  height: auto;
}

figure img{
   max-width: 100%;
   min-width: 40px;
   float: right;
   margin-right: 60%;
}
main{
    display: none;
}
h1{ 
  text-indent: 3.125em ;  
}
header h2{
    text-indent: 3.125em;
}
h2{
  text-indent: 9.375em; 
}
h3{
    font-size: 125%
}

h3::first-letter{
  font-size: 200% 
}

h5{
  font-size: 125%;
  text-indent: 9.375em;
}


    
 
a{
  color: black;
  
}

li{
  padding: 0.3em
}

a:hover{
  color: green;
}

main {
  float: right;
  width: 100%;
}

article {
  float: right;
  width: 75%;
}

footer {
  border-top: 0.125em solid black;
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 0.6em;
  background: linear-gradient(45deg,black,orange 75%, white);
  padding-bottom: 1.2em;
}
div{
    background: black; 
    margin-top: 0em; 
    margin: 0em; 
}
 
div ul{
    margin: 0;
    padding: 0;
  
}
    li a{
        margin: 0;
        list-style: none; 
        width: 8em;
        font-size: 1em;
        text-decoration: none;
        
    }
    
    nav ul{
        list-style: none;
    }
    
    nav li a{
      display: block; 
      font-weight: bold;
      background: orange; 
      color: black;
      line-height: 2em;
      padding: .2em 0 .2em 1em; 
      border: .125em solid black;
    }
    
    nav li a:hover{
      background-color: brown;  
    }
    div li{
        display: inline-block; 
        width: 18%;
        text-align: center;
    }
    
    div li a{
      display: block; 
      background: black; 
      color: white;
      line-height: 2em;
      padding: 0 ; 
      
    }

    figure a {
        color: orange;
        text-indent: 9.375em;
    }
 
    
    div li a:hover{
        color: orange; 
    }

    table{
        float: right;
        margin-right: 15em;
        
    }
    section{
        margin-right: 6em;
        float: right;
    }
    
    #nav1{
        display: none;
    }
    
    @media only screen and (max-width: 800px){
        html{
            background-image: none;
            font-size: 90%;
            
        }
        #nav1{
            display: none
        }
    }
    
    
    @media only screen and (max-width: 767px){
    
        #navbar{
            display: none;
        
        }
        #mobile_menu{
            display: block;
        }
        nav{
              
            display: none
  
            
        }
        #nav1{
            display: block;
            float: right;
            margin-right: 50%;
        }
        main{
            display: block;
        
        }
        #menu{
            float: right;
        }
    }
    
    
    @media only screen and (max-width: 479px){
        h1{
            font-size: 85%;
        }
        h2{
            font-size: 85%;
                    }
        h3{
            font-size: 80%;
            text-indent: 0;
        }
        h4{
            font-size: 80%;
            text-indent: 0;
        }
        h5{
            
            font-size: 80%;
        }    
        }
    
    
    